{% extends 'layouts/base.html' %}


{% block title %}
about  page
{% endblock %}

{% block content %} 

<h1> About Autism Society of Alaska </h1>

<p>The Autism Society Golden Heart Affiliate serves people experiencing Autism in the state of Alaska. The Autism Society (AS) is the leading voice and resource of the entire autism community in education, advocacy, services and support. The AS is committed to meaningful participation and self-determination in all aspects of life for individuals on the autism spectrum and their families.</p>
<p>The Golden Heart Affiliation was established in July 2008 and is the only chapter in the state of Alaska.  We are part of network of over 100 nationwide chapters.  Membership to the Autism Society is open to all.  We have a Board of Directors comprised of volunteers from across the state.  We invite you to explore our website and send us a message with questions on the opportunities we provide across the state. </p>

{% endblock %}
