{% extends 'layouts/base.html' %}


{% block title %}
Contact page
{% endblock %}

{% block content %} 
	<h1> Contact Us</h1>

    <P class="header">
        If you know of a service provided that isn't listed in our database, want to check out a library item, 
        have found and error, or just want to contact us, here are some channels to reach us through.
    </P>
    <p class="content">
        Phone:    1-877-374-4421<br>
        Email:    info@asagoldenheart.org <br>
        Website:  <a href="http://www.asagoldenheart.org/">www.asagoldenheart.org</a><br><br>
        Physical Address: <br>
        1024 Barnette Street <br>   
		Fairbanks, Alaska 99701 <br><br> 
        Mailing Address: <br>
		Autism Society of Alaska <br> 
		607 Old Steese Hwy, Suite B #285<br> 
		Fairbanks, Alaska 99701 <br> 		
    </p>
<!--
    
    <P class="header">
		Autism Society National Contact:
    </P>
    <p class="content">
		Phone: 301.657.0881 or 1.800.3AUTISM (1.800.328.8476) <br><br> 
		Mailing Address: <br> 
		Autism Society <br> 
		4340 East-West Hwy, Suite 350 <br> 
		Bethesda, Maryland 20814 <br> 
		U.S.A. <br> 
	</p>
-->
{% endblock %}
