{% extends 'layouts/base.html' %}


{% block title %}
Contact page
{% endblock %}

{% block content %} 
	<h1> Contact Us</h1>
	<p>
		Physical Address <br>
		1024 Barnette Street <br>   
		Fairbanks, Alaska 99701 <br> 
	</p>

	<p>
		Mailing Address: <br> 
		Autism Society of Alaska <br> 
		607 Old Steese Hwy, Suite B #285 <br> 
		Fairbanks, Alaska 99701 <br> 
	</p>
	
	<p>
		1-877-374-4421 <br> 
		info@asagoldenheart.org <br> 
		Autism Society National Contact <br> 
		Phone: 301.657.0881 or 1.800.3AUTISM (1.800.328.8476) <br> 
		Mailing Address <br> 
		Autism Society <br> 
		4340 East-West Hwy, Suite 350 <br> 
		Bethesda, Maryland 20814 <br> 
		U.S.A. <br> 
	</p>
{% endblock %}
