{% extends 'layouts/base.html' %}


{% block title %}
detail page
{% endblock %}

{% block content %}
<!--    <h1> Details for {{item.title}} </h1>-->
    <h1> Resource Details </h1>
    
	<table class="details" border="1" width="800px" >
        <tr class="details">
            <td class="details">Title</td>
            <td class="details">{{item.title}}</td> 
        </tr>
        {% if item.rlibrary %} 
        <tr class="details"> 
            <td class="details">Author</td> 
            <td class="details">{{item.rlibrary.author}}</td>
        </tr>
		<tr class="details"> 
            <td class="details">Type</td> 
            <td class="details">
                {% if item.rlibrary.item_type == '0' %} {{item.rlibrary.types.0.1}} {% endif %}
                {% if item.rlibrary.item_type == '1' %} {{item.rlibrary.types.1.1}} {% endif %}
                {% if item.rlibrary.item_type == '2' %} {{item.rlibrary.types.2.1}} {% endif %}
                {% if item.rlibrary.item_type == '3' %} {{item.rlibrary.types.3.1}} {% endif %}
                {% if item.rlibrary.item_type == '4' %} {{item.rlibrary.types.4.1}} {% endif %}
                {% if item.rlibrary.item_type == '5' %} {{item.rlibrary.types.5.1}} {% endif %}
                {% if item.rlibrary.item_type == '6' %} {{item.rlibrary.types.6.1}} {% endif %}
                {% if item.rlibrary.item_type == '7' %} {{item.rlibrary.types.7.1}} {% endif %}
                {% if item.rlibrary.item_type == '8' %} {{item.rlibrary.types.8.1}} {% endif %}
                {% if item.rlibrary.item_type == '9' %} {{item.rlibrary.types.9.1}} {% endif %}
                {% if item.rlibrary.item_type == 'a' %} {{item.rlibrary.types.10.1}} {% endif %}
                {% if item.rlibrary.item_type == 'b' %} {{item.rlibrary.types.11.1}} {% endif %}
                {% if item.rlibrary.item_type == 'c' %} {{item.rlibrary.types.12.1}} {% endif %}
                {% if item.rlibrary.item_type == 'd' %} {{item.rlibrary.types.13.1}} {% endif %}
                {% if item.rlibrary.item_type == 'e' %} {{item.rlibrary.types.14.1}} {% endif %}
                {% if item.rlibrary.item_type == 'f' %} {{item.rlibrary.types.15.1}} {% endif %}
            </td>
        </tr>

		<tr class="details">
            <td class="details">Category</td>
            <td class="details"> 
                {% if item.rlibrary.catagory == '0' %} {{item.rlibrary.cats.0.1}} {% endif %}
                {% if item.rlibrary.catagory == '1' %} {{item.rlibrary.cats.1.1}} {% endif %}
                {% if item.rlibrary.catagory == '2' %} {{item.rlibrary.cats.2.1}} {% endif %}
                {% if item.rlibrary.catagory == '3' %} {{item.rlibrary.cats.3.1}} {% endif %}
                {% if item.rlibrary.catagory == '4' %} {{item.rlibrary.cats.4.1}} {% endif %}
                {% if item.rlibrary.catagory == '5' %} {{item.rlibrary.cats.5.1}} {% endif %}
                {% if item.rlibrary.catagory == '6' %} {{item.rlibrary.cats.6.1}} {% endif %}
                {% if item.rlibrary.catagory == '7' %} {{item.rlibrary.cats.7.1}} {% endif %}
                {% if item.rlibrary.catagory == '8' %} {{item.rlibrary.cats.8.1}} {% endif %}
                {% if item.rlibrary.catagory == '9' %} {{item.rlibrary.cats.9.1}} {% endif %}
                {% if item.rlibrary.catagory == 'a' %} {{item.rlibrary.cats.10.1}} {% endif %}
            </td>
        </tr> 
		
        
		<br>        
	{% endif %}
	<!--TODO These need to be expanded-->
	{% if item.ronline %}
        <tr class="details">
            <td class="details">Type</td>
            <td class="details"> 
                {% if item.ronline.otype == '0' %} {{item.ronline.types.0.1}} {% endif %}
                {% if item.ronline.otype == '1' %} {{item.ronline.types.1.1}} {% endif %}
                {% if item.ronline.otype == '2' %} {{item.ronline.types.2.1}} {% endif %}
            </td>
        </tr>
        <tr class="details">
            <td class="details">Date</td>
            <td class="details">{{item.ronline.date}}</td>
        </tr>
        <tr class="details">
            <td class="details">URL</td>
            <td class="details"><a href="{{item.ronline.url}}">{{item.ronline.url}}</a></td>
        </tr>		
	{% endif %}
	{% if item.rservice %}
		<tr class="details">
            <td class="details">Address</td>
            <td class="details">{{item.rservice.address}}</td>
        </tr>
        <tr class="details">
            <td class="details">Phone</td>
            <td class="details">{{item.rservice.phone}}</td>
        </tr>
        <tr class="details">
            <td class="details">Email</td>
            <td class="details">{{item.rservice.email}}</td>
        </tr>
        <tr class="details">
            <td class="details">URL</td>
            <td class="details"><a href="{{item.rservice.url}}">{{item.rservice.url}}</a></td>
        </tr>
	{% endif %}
    {% if item.revent %}
    <tr class="details">
            <td class="details">Location</td>
            <td class="details">{{item.revent.location}}</td>
    </tr>
    <tr class="details">
            <td class="details">Time</td>
            <td class="details">{{item.revent.date_time}}</td>
    </tr>

    {% endif %}

    <tr class="details">
        <td class="details">Description</td>
        <td class="details">{{item.description}}</td>
        
    </tr>
    {% if item.rlibrary %} <!-- status is at the bottom-->
    <tr class="details">
            <td class="details">Availability </td>
            <td class="details"> 
                {% if item.rlibrary.status == '0' %} {{item.rlibrary.statuses.0.1}} {% endif %}
                {% if item.rlibrary.status == '1' %} {{item.rlibrary.statuses.1.1}} {% endif %}
                {% if item.rlibrary.status == '2' %} {{item.rlibrary.statuses.2.1}} {% endif %}
            </td>
        </tr> 
    {% endif %}
    </table>
    {% if item.rlibrary %}
    <p style="font-size: 18px;"> 
        Interested in renting this item from our library?<br> 
        Give us a call at 1-877-374-4421 or send us an email at info@asagoldenheart.org. 
    </p>
    {% endif %}
    
    <p style="font-size: 14px;">
    Need a link back to this resource detail page? 
    <a href="./{{ resource.r_id }}"> Right-click here to copy link </a>
    </p>
    
{% endblock %}
