{% extends 'layouts/base.html' %}


{% block title %}
detail page
{% endblock %}

{% block content %}
	<h1> Details for {{item.title}} </h1>
    
	<table border="1" width="800px" >
        <tr>
            <td>Title</td>
            <td>{{item.title}}</td> 
        </tr>
        {% if item.rlibrary %} 
        <tr> 
            <td>Author</td> 
            <td>{{item.rlibrary.author}}</td>
        </tr>
		<tr> 
            <td>Type</td> 
            <td>
                {% if item.rlibrary.item_type == '0' %} {{item.rlibrary.types.0.1}} {% endif %}
                {% if item.rlibrary.item_type == '1' %} {{item.rlibrary.types.1.1}} {% endif %}
                {% if item.rlibrary.item_type == '2' %} {{item.rlibrary.types.2.1}} {% endif %}
                {% if item.rlibrary.item_type == '3' %} {{item.rlibrary.types.3.1}} {% endif %}
                {% if item.rlibrary.item_type == '4' %} {{item.rlibrary.types.4.1}} {% endif %}
                {% if item.rlibrary.item_type == '5' %} {{item.rlibrary.types.5.1}} {% endif %}
                {% if item.rlibrary.item_type == '6' %} {{item.rlibrary.types.6.1}} {% endif %}
                {% if item.rlibrary.item_type == '7' %} {{item.rlibrary.types.7.1}} {% endif %}
                {% if item.rlibrary.item_type == '8' %} {{item.rlibrary.types.8.1}} {% endif %}
                {% if item.rlibrary.item_type == '9' %} {{item.rlibrary.types.9.1}} {% endif %}
                {% if item.rlibrary.item_type == 'a' %} {{item.rlibrary.types.10.1}} {% endif %}
                {% if item.rlibrary.item_type == 'b' %} {{item.rlibrary.types.11.1}} {% endif %}
                {% if item.rlibrary.item_type == 'c' %} {{item.rlibrary.types.12.1}} {% endif %}
                {% if item.rlibrary.item_type == 'd' %} {{item.rlibrary.types.13.1}} {% endif %}
                {% if item.rlibrary.item_type == 'e' %} {{item.rlibrary.types.14.1}} {% endif %}
                {% if item.rlibrary.item_type == 'f' %} {{item.rlibrary.types.15.1}} {% endif %}
            </td>
        </tr>

		<tr>
            <td>Catagory</td>
            <td> 
                {% if item.rlibrary.catagory == '0' %} {{item.rlibrary.cats.0.1}} {% endif %}
                {% if item.rlibrary.catagory == '1' %} {{item.rlibrary.cats.1.1}} {% endif %}
                {% if item.rlibrary.catagory == '2' %} {{item.rlibrary.cats.2.1}} {% endif %}
                {% if item.rlibrary.catagory == '3' %} {{item.rlibrary.cats.3.1}} {% endif %}
                {% if item.rlibrary.catagory == '4' %} {{item.rlibrary.cats.4.1}} {% endif %}
                {% if item.rlibrary.catagory == '5' %} {{item.rlibrary.cats.5.1}} {% endif %}
                {% if item.rlibrary.catagory == '6' %} {{item.rlibrary.cats.6.1}} {% endif %}
                {% if item.rlibrary.catagory == '7' %} {{item.rlibrary.cats.7.1}} {% endif %}
                {% if item.rlibrary.catagory == '8' %} {{item.rlibrary.cats.8.1}} {% endif %}
                {% if item.rlibrary.catagory == '9' %} {{item.rlibrary.cats.9.1}} {% endif %}
                {% if item.rlibrary.catagory == 'a' %} {{item.rlibrary.cats.10.1}} {% endif %}
            </td>
        </tr> 
		
		<br>        
	{% endif %}
	<!--TODO These need to be expanded-->
	{% if item.ronline %}
        <tr>
            <td>Type</td>
            <td> 
                {% if item.ronline.otype == '0' %} {{item.ronline.types.0.1}} {% endif %}
                {% if item.ronline.otype == '1' %} {{item.ronline.types.1.1}} {% endif %}
                {% if item.ronline.otype == '2' %} {{item.ronline.types.2.1}} {% endif %}
            </td>
        </tr>
        <tr>
            <td>Date</td>
            <td>{{item.ronline.date}}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href="{{item.ronline.url}}">{{item.ronline.url}}</a></td>
        </tr>		
	{% endif %}
	{% if item.rservice %}
		<tr>
            <td>Address</td>
            <td>{{item.rservice.address}}</td>
        </tr>
        <tr>
            <td>Phone</td>
            <td>{{item.rservice.phone}}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{item.rservice.email}}</td>
        </tr>
        <tr>
            <td>URL</td>
            <td><a href="{{item.rservice.url}}">{{item.rservice.url}}</a></td>
        </tr>
	{% endif %}
    {% if item.revent %}
    <tr>
            <td>Location</td>
            <td>{{item.revent.location}}</td>
    </tr>
    <tr>
            <td>Time</td>
            <td>{{item.revent.date_time}}</td>
    </tr>

    {% endif %}
	<!--END TODO These need to be expanded-->
    <tr>
        <td>Description</td>
        <td>{{item.description}}</td>
    </tr>
    </table>
{% endblock %}
