{% extends 'layouts/base.html' %}


{% block title %}
detail page
{% endblock %}

{% block content %}
	<h1> detail </h1>
	{{item.title}}<br>
	
	{% if item.rlibrary %}
		<!-- 
		Library #: 
		<br> &nbsp; 
		{{item.rlibrary.phys_id}}
		<br>
		-->

		<p>Author: </p>
		<br> &nbsp; 
		<p>{{item.rlibrary.author}}</p>
		<br>
		type: 
		<br> &nbsp;
		{% if item.rlibrary.item_type == '0' %} book {% endif %}
		{% if item.rlibrary.item_type == '1' %} dvd {% endif %}
		{% if item.rlibrary.item_type == '2' %} cd {% endif %}
		<br>
		catagory: 
		<br> &nbsp;
		{% if item.rlibrary.catagory == '0' %} a: will be one of the asa librarys catagories {% endif %}
		{% if item.rlibrary.catagory == '1' %} b: will be one of the asa librarys catagories {% endif %}
		{% if item.rlibrary.catagory == '2' %} c: will be one of the asa librarys catagories {% endif %}
		<br>        
	{% endif %}
	<!--TODO These need to be expanded-->
	{% if item.ronline %}
		an on line resource
	{% endif %}
	{% if item.rservice %}
		a service
	{% endif %}
	<!--END TODO These need to be expanded-->
    
	description: 
	<br> &nbsp;
	{{item.description}}
	<br>

{% endblock %}
