{% extends 'layouts/base.html' %}
{% load staticfiles %}

{% block title %}
about  page
{% endblock %}

{% block content %} 

<h1>A Guide to Using ARDA</h1>

<h2>Step One</h2>
<p class="guide">
    Select one or more categories by clicking "Resource Types" in the sidebar to the left and selecting the desired checkboxes from the resulting drop down menu.
</p>

<img src="{% static 'images/guide_screen1.png' %}" class="guide_images">

<h2>Step Two</h2>
<p class="guide">
    Further define your search by selecting one or more filters from the drop down menus: "Demographics", "Disorders", "Behaviors" and "Additional".
</p>

<img src="{% static 'images/guide_screen2.png' %}" class="guide_images">

<p class="guide">
    *If "Services" is selected an additional menu will automatically appear under "Select Filters" that only applies to service resources.
</p>

<h2>Step Three</h2>
<p class="guide">
    Click the blue "Submit" button below the drop down menus.  You will be showed resources on the results page pertaining to the filters you have selected. Click a resource to see its details. 
</p>

<img src="{% static 'images/guide_screen3.png' %}" class="guide_images">

<h2>Step Four</h2>
<p class="guide">
    The resource details page will offer specific information about the resource, including how to access it. If it is a physical library item, such as a book or dvd, you can use the contact info at the bottom of the page to make an appointment to rent the item from our library!
</p>

<img src="{% static 'images/guide_screen4.png' %}" class="guide_images" style="width: 750px;">
{% endblock %}
