<!DOCTYPE html>
{% load staticfiles %}

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'images/arda.png' %}" type="image/png">
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato">
		<title>
			{% block title %}
			{% endblock %}
		</title>
   	</head>
	
	<body>
       	<header>
			<a href="{% url 'home' %}"><img src="{% static 'images/arda.png' %}" alt="logo"></a>
            <h1><a class="h" href="{% url 'home' %}">Autism Resource Database Alaska</a></h1>
			<ul class="header_links">
				<li> <a class="hl" href="{% url 'home' %}">Home</a> </li>
				<li> <a class="hl" href="{% url 'how_to_use' %}">User Guide</a> </li>
				<li> <a class="hl" href="{% url 'contact' %}">Contact Us</a> </li>
			</ul>
		</header>
		
		<div id="sidebar">
			<form action="/result/" method="get">
				<h3> Select Categories </h3>
				<hr>
				
			    <label class="collapse" for="_types">Resource Types</label>
			    <input id="_types" type="checkbox">
				<div>
					<input type="checkbox" name="library" value="selected" id="library" />
					<label for="library">Library</label><br>
					<input type="checkbox" name="online" value="selected" id="online" />
					<label for="online">Online</label><br>
					<input type="checkbox" name="service" value="selected" id="service" />
					<label for="service">Service</label><br>
					<input type="checkbox" name="event" value="selected" id="event" />
					<label for="event">Event</label><br>
				</div>
				
				<h3> Select Filters </h3>
				<hr>
					
			    <label class="collapse" for="_demographics">Demographics</label>
			    <input id="_demographics" type="checkbox">
				<div>
					<input type="checkbox" name="male" value="selected" id="g_male" />
					<label for="g_male">Male</label><br>
					<input type="checkbox" name="female" value="selected" id="g_female" />
					<label for="g_female">Female</label><br>
					<input type="checkbox" name="age1-3" value="selected" id="age1-3" />
					<label for="age1-3">Age 1-3</label><br>
					<input type="checkbox" name="age3-18" value="selected" id="age3-18" />
					<label for="age3-18">Age 3-18</label><br>
					<input type="checkbox" name="age18+" value="selected" id="age18+" />
					<label for="age18+">Age 18+</label><br>
				</div>
				
			    <label class="collapse" for="_disorders">Disorders</label>
			    <input id="_disorders" type="checkbox">
				<div>
					<input type="checkbox" name="Autism Spectrum Disorder" value="selected" id="asd" />
					<label for="Austism Spectrum Disorder">Autism Spectrum</label> <br>
					<input type="checkbox" name="Fetal Alcohol Syndrome" value="selected" id="fas" />
					<label for="fas">Fetal Alcohol</label><br>
					<input type="checkbox" name="Pervasive Developement Disorder" value="selected" id="pdd" />
					<label for="pdd">Pervasive Development</label><br>
					<input type="checkbox" name="Aspergers Syndrome" value="selected" id="aspergers" />
					<label for="aspergers">Asperger's Syndrome</label><br>
					<input type="checkbox" name="Cognative Development Disorder" value="selected" id="cdd" />
					<label for="cdd">Cognitive Development</label><br>
				</div>
				
			    <label class="collapse" for="_behaviors">Behaviors</label>
			    <input id="_behaviors" type="checkbox">
				<div>
					<input type="checkbox" name="sleep" value="selected" id="sleep" />
					<label for="sleep">Sleep</label><br>
					<input type="checkbox" name="safety home" value="selected" id="safety_home" />
					<label for="safety_home">Safety Home</label><br>
					<input type="checkbox" name="safety public" value="selected" id="safety_public" />
					<label for="safety_public">Safety Public</label><br>
					<input type="checkbox" name="safety travel" value="selected" id="safety_travel" />
					<label for="safety_travel">Safety Travel</label><br>
					<input type="checkbox" name="repetition" value="selected" id="repetition" />
					<label for="repetition">Repitition </label><br>
					<input type="checkbox" name="aggression" value="selected" id="aggression" />
					<label for="aggression">Aggression</label><br>
					<input type="checkbox" name="communication" value="selected" id="communication" />
					<label for="communication">Communication</label><br>
					<input type="checkbox" name="nonverbal" value="selected" id="nonverbal" />
					<label for="nonverbal">Nonverbal</label><br>
					<input type="checkbox" name="sensory" value="selected" id="sensory" />
					<label for="sensory">Sensory</label><br>
					<input type="checkbox" name="meltdown" value="selected" id="meltdown" />
					<label for="meltdown">Meltdown</label><br>
					<input type="checkbox" name="anxiety" value="selected" id="anxiety" />
					<label for="anxiety">Anxiety</label><br>
					<input type="checkbox" name="change" value="selected" id="change" />
					<label for="change">Change</label><br>
					<input type="checkbox" name="nutrition" value="selected" id="nutrition" />
					<label for="nutrition">Nutrition</label><br>
				</div>
				
				<div id="hide_services">
				    <label class="collapse" for="_services">Services</label>
					<div>
						<input type="checkbox" name="diagnostic" value="selected" id="diagnostic" />
						<label for="diagnostic">Diagnostic</label><br>
						<input type="checkbox" name="resource" value="selected" id="resource" />
						<label for="resource">Resource</label><br>
						<input type="checkbox" name="therapy" value="selected" id="therapy" />
						<label for="therapy">Therapy</label><br>
						<input type="checkbox" name="educational" value="selected" id="educational" />
						<label for="educational">Educational</label><br>
						<input type="checkbox" name="referral" value="selected" id="referral" />
						<label for="referral">Referral</label><br>
						<input type="checkbox" name="legal" value="selected" id="legal" />
						<label for="legal">Legal</label><br>
						<input type="checkbox" name="state_wide" value="selected" id="state_wide" onclick="selectOnlyThis(this.id)" />
						<label for="state_wide">State Wide</label><br>
						<input type="checkbox" name="anchorage" value="selected" id="anchorage" onclick="selectOnlyThis(this.id)" />
						<label for="anchorage">Anchorage</label><br>
						<input type="checkbox" name="fairbanks" value="selected" id="fairbanks" onclick="selectOnlyThis(this.id)" />
						<label for="fairbanks">Fairbanks</label><br>
						<input type="checkbox" name="juneau" value="selected" id="juneau" onclick="selectOnlyThis(this.id)" />
						<label for="juneau">Juneau</label><br>
					</div>
				</div>
				
			    <label class="collapse" for="_additional">Additional</label>
			    <input id="_additional" type="checkbox">
				<div>
					<input type="checkbox" name="parents" value="selected" id="parents" />
					<label for="parents">Parents</label><br>
					<input type="checkbox" name="relationships" value="selected" id="relationships" />
					<label for="relationships">Relationships</label><br>
					<input type="checkbox" name="teachers" value="selected" id="teachers" />
					<label for="teachers">Teachers</label><br>
					<input type="checkbox" name="siblings" value="selected" id="siblings" />
					<label for="siblings">Siblings</label><br>
					<input type="checkbox" name="teens" value="selected" id="teens" />
					<label for="teens">Teen</label><br>
				</div>
				<br>
				
				<input type="submit" value="Submit" class="submit" />
		
			</form>
		</div> <!-- closing sidebar tag -->

		<script>
			// ---------------------------------------------
			// Displays service filter options if service
			// is selected 
			// ---------------------------------------------
			var elem = document.getElementById('hide_services'),
    		checkBox = document.getElementById('service');
			checkBox.checked = false;
			checkBox.onchange = function() {
    		elem.style.display = this.checked ? 'block' : 'none';
			};
			checkBox.onchange();


			// --------------------------------------------- 
			// Disables users from selecting multiple cities 
			// --------------------------------------------- 
			function selectOnlyThis(id) 
			{
			    document.getElementById("state_wide").checked = false;
			    document.getElementById("anchorage").checked = false;
			    document.getElementById("fairbanks").checked = false;
			    document.getElementById("juneau").checked = false;

			    document.getElementById(id).checked = true;
			}

		</script>

	    {% if error %}
	    {% endif %}
		
		<div id="wrapper">
			<main>
			{% block content %}
			{% endblock %}  
			</main>
		</div> <!-- closing wrapper tag -->
		
		<footer>
			<!-- <a href="{% url 'admin:index' %}">admin login</a> -->
		</footer>
	</body>
</html>
