body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Lato, Arial, sans-serif;
	color: #111;
}


/* Beginning of header contents */

header {
	margin: 0px;
	padding: 0px;
    height: 76px;
    background-color: #207cca;
}

header h1 {
	margin: 0;
	padding-top: 7px;
	font-size: 45px;
	font-family: Impact, Lato, sans-serif;
	color: white;
	overflow: hidden;
	white-space: nowrap;
}

header img {
	height: 62px;
	width: 100px;
	float: left;
	padding: 10px 10px 10px 5px;
    margin-top: -5px;
}

/* End of header contents */

#searchbar {
	padding-top: 13px;
	padding-left: 8px;
    padding-bottom: 13px;
}

/* Beginning of header links */

.header_links {
	margin-top: -50px;
    margin-left: 940px;
    width: 450px;  
    position: fixed;      
}

ul.header_links {
    color: black;
    list-style: none;
	float: right;
}

ul.header_links li {
    float: left;
    display: inline-block;
    padding: 0px 8px;
    font-size: 16px;
    font-weight:600;
}

/*End of header links*/

#wrapper {
	background-color: #EEE;
	border-top: solid 2px #ADADAD;
	margin-top: -30px;
	min-height: 100%;
}



/* Beginning of sidebar content styling */
#sidebar {
	width: 240px;
	float: left;
	padding-left: 8px;
	padding-right: 8px;
	margin-top: 0px;
	font-family: Lato, Arial, sans-serif;
}

/* End of sidebar */

/* Beginning of collapse  */

.collapse{
  font-size: 18px;
  display:block;
  padding-bottom: 10px;
  padding-top: 10px;
  cursor: pointer;
}
.collapse + input{
  display:none;
}
.collapse + input + *{
  display:none;
}
.collapse + input:checked + *{
  display:block;
}

.collapse:hover{
	color: #207cca;
}

/* End of collapse  */

/* Beginning of main content*/

main {
	margin-left: 250px;
	padding: 5px;
	background-color: #FFFFFF;
	min-height: 1000px;
}

main p {
	font-size:12px;
	font-family: Lato, Arial, sans-serif;
	color: #555555;
}

main h2 {
	font-family: Lato, Arial, sans-serif;
	color: #333333;
}

main h3 {
	font-family: Lato, Arial, sans-serif;
	color: #333333;
}

p.header {
    font-size: 18px;
}

p.content {
    font-size: 14px;
}
.overview_heading {
	font-weight:bold;
}

main img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 10px;
}

.submit {
    width: 80px;
    padding: 8px, 15px;
    margin-left: 0px;
    border: 3px solid #207cca;
    background-color: #207cca;
    color: #fafafa;
    cursor: pointer;
}

.submit:hover {
    background-color:#fafafa;
    border-color:#207cca;
    color:#207cca;
}

.row {
	text-align: center;
}

ul.pagination {
	list-style: none;
}

ul.pagination li {
	display: inline;
}

.arrow_unavailable {
	visibility: hidden;
}


/* End of main content */

footer {
	text-align: center;
}

a.hl {
	text-decoration: none !important;
}

a.hl:visited {
    color: white;
}

a.hl:hover {
    color: grey;
}
a.h:link {
    text-decoration: none;
}
a.h:visited {
    color: white;
}


