/*body {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    border-style: solid;
    border-top-width: 12px;
    border-top-color: #207cca;
    font-family: Arial, Verdana, sans-serif;
	color: #111111;

}*/

body {
    width: 900px;
    margin: 10px auto 10px auto;
    border: solid 2px #ADADAD; 
    background-color: #EEE;
}

header {
    height: 70px;
    background-color: #207cca;
    box-shadow: 0px 8px 10px #888888;
    font-family: Impact, Arial, sans-serif;
    color: white;
    font-size: 48px;
    display: block;
}


header img {
    width: 100px;
    height: 60px;
}


ul.header_links {
    color: black;
    padding: 0;
    list-style: none;
    padding: 0px 0px 10px 650px;
}

ul.header_links li {
   float: left;
   display: inline-block;
   padding: 0px 5px;
}



